:root {
    --color-primary: #212121;
    --color-secondary: #FA681B;
    --color-accent: #ad2516;
    --color-background: #ecf0f1;
    --color-text: #2c3e50;
    --color-subtext: #64666c;
    --border: #fa6a1c1d;
    --bg-cards-target-optional: #0a0a0a;
    --bg-card-optional: #040201;
    --bg-card-into-optional: #1c0e07;
    --color-secondary-optio: #e5824d;
    --white: #fff;
    --black: #000
}

