.group-relative {
  background: radial-gradient(50% 50% at 50% 0%, var(--bg-card-into-optional, rgb(20, 20, 20)) 0%, var(--token-ff0f9235-e262-43fc-9cc6-02e113e6a486, rgb(0, 0, 0)) 100%);
  width: 100%;
  opacity: 1;
  padding: 6rem 3rem 1rem;
}

.container-footer {
  display: flex;
  flex-wrap: wrap;
  gap: 64px;
  height: min-content;
  max-width: 1280px;
  overflow: hidden;
  padding: 0;
  position: relative;
  margin: auto;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.column-footer {
  flex: 1;
  padding: 10px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

@media (max-width: 768px) {
  .column-footer {
    flex-basis: 100%;
    align-content: flex-start;
    align-items: flex-start;

  }
}

@media (min-width: 400px) {
  .text-mobile-footer{
    text-align: left !important;;
  }
}

.footer-name {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.cat-color {
  width: 4rem;
  margin-bottom: 2rem;
  filter: invert(48%) sepia(200%) saturate(0%) hue-rotate(86deg) brightness(118%) contrast(119%);
}

.svg-padding {
  padding: 0.5rem;
}

.title-contact-footer {
  margin-bottom: 2rem;
}

